@import url("/app/fonts/fonts.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ==== COLORS ==== */
$button-color: #eff5ff;
$bg-color: white;
$accent-color: #f66101;

/* ==== BUTTONS STYLES ==== */
%button-standart {
    height: 64px;
    width: 100%;
    border-radius: 25px;
    background-color: $button-color;
    text-align: center;
    line-height: 64px;
    a {
        display: block;
        height: inherit;
        width: inherit;
        font-weight: bold;
        color: black;
    }
}

%button-submit {
    height: 80px;
    width: 100%;
    border-radius: 25px;
    background-color: $accent-color;
    text-align: center;
    line-height: 80px;
    a {
        display: block;
        height: inherit;
        width: inherit;
        font-weight: bold;
        color: black;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    gap: 16px;
    div {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

header {
    margin: auto;
    img {
        margin: 16px;
        width: 50vw;
    }
    img[alt] {
        color: #f66101;
    }
}

/* 
* another way to solve the problem
TODO find more elegant way ↓↓↓↓↓↓↓

*/

/* header {
    display: flex;
    height: calc(100vh - 500px);
    img {
        display: block;
        margin: auto;
        width: 50vw;
    }
} */

main {
    padding: 0 25px;
    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;

        li {
            @extend %button-standart;
        }
        /* .button-submit {  
            @extend %button-submit;
        } */
    }
}

footer {
    background-color: $button-color;
    padding: 8px 25px;
    border-radius: 25px 25px 0 0;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8x;
        li {
            width: 3rem;
            height: 3rem;
            a {
                width: inherit;
                height: inherit;
                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }
}

/*
! easy navigation for devices with big screen width
 */
@media (min-width: 400px) {
    footer {
        padding: 8px 100px;
    }
}

/*     _
    \`*-.
     )  _`-.
    .  : `. .
    : _   '  \ 
    ; *` _.   `*-._
    `-.-'          `-.
      ;       `       `.
      :.       .        \  
      . \  .   :   .-'   . 
      '  `+.;  ;  '      : 
      :  '  |    ;       ;-. 
      ; '   : :`-:     _.`* ;
   .*' /  .*' ; .*`- +'  `*'
   `*-*   `*-*  `*-*' */
